.notification{
  padding: 5px 30px 4px 20px;
  max-width:50vw;
  height:auto;
  background-color:darkgrey;
  color:white;
  border-radius:5px;
  position: fixed;
  left:-300px;
  transition: left 1s;
}

.notification-change{
  position: fixed;
  left:10px;
}

#trigger{
  margin-top:30px;
}
